/* 
* BASIC STYLE
  - General Style    
  - Headings Style    
  - Button Style    
  - Form Style    
  - Spacer Style
      
* HEADER 
  - Header Style
  - Navigation Menu Style
  - Megamenu Style

* CONTANT
  - Banner Style
  - Bread-crumb
  - Sub-banner
  - Product Box
  - Site Services Features Block   
  - Special Product Block          
  - Custom News Letter
  - Testimonial
  - Video
  - Blog
  - Brand-Logo
  - Perellex-Banner
  - Sidebar
  - Sorting
  - Product Detail Page
  - Cart Page
  - Checkout Page
  - Login Register Page  
  - Account Page
  - Blog Page
  - About Page
  - 404 Page
  - Contact Page
  - Scroll-Top Arrow
  - Comment Block

* FOOTER
*/

/*_______________________________________________________
// BASIC STYLE  //----------------------------
_______________________________________________________*/

 /* - Google Fonts //---------------- */ 

 @import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans:300i,400,400i,600,600i,700,700i,800');

 /* - General Style //---------------- */ 

 ::-moz-selection {
    background-color: #1b75bb;
    color: #FFF;
}

::selection {
    background-color: #1b75bb;
    color: #FFF;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/background.jpg);
    line-height: 24px;
    color: #717a7d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* letter-spacing: 1px; */
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

.main {
    position: relative;
    overflow: hidden;
    /* border-left: 40px solid #ffffff;
    border-right:40px solid #ffffff; */
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.owl-item img{
    width: 100%!important;
}

a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #717a7d;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

    a:hover {
        color: #1b75bb;
        text-decoration: none;
        transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
    }

br {
    font-size: 0;
    line-height: 0;
}

hr {
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: 1px solid #cad2d4;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.position-r {
    position: relative;
}

.align-center {
    text-align: center;
}

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p {
    color: #fff;
}

.dark-bg {
    background: #2f455d;
    color: #fff;
}

.gray-bg {
    background: #f5f5f5;
}

.white-bg {
    background: #ffffff;
}

.middle-800 p {
    display: inline-block;
    max-width: 800px;
}
.middle-580 p {
    display: inline-block;
    max-width: 580px;
}



/* - Headings Style   //---------------- */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2f455d;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

h1 {
    font-size: 43px;
    letter-spacing: 1px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
    line-height: 32px;
}

h2.heading {
    font-size: 25px;
    line-height: 32px;
}

h4 {
    font-size: 17px;
    line-height: 22px;
}

h5 {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}

h6 {
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
}

.main_title {
    display: inline-block;
    margin-bottom: 0;
}

.main_title span {
    font-weight: bold;
    padding-left: 32px;
    position: relative;
}

.main_title span:before {
    background: #1b75bb;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 4px;
    width: 20px;
}



/* - Button Style  //----------------*/ 

.btn, button {
    padding: 13px 15px;
    line-height: 16px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border-radius: 0;
}

.btn.full {
    width: 100%;
    text-align: center;
}

.btn.big-width {
    padding: 13px 30px;
}

.btn.big {
    padding: 18px 30px;
}

.btn.small {
    padding: 5px 10px;
}

.btn i.fa {
    font-size: 18px;
    margin: 0 5px;
}

.btn-black {
    color: #fff;
    background: #2f455d;
    border: none;
}

    .btn-black:hover {
        color: #fff;
        background: #1b75bb;
    }

.btn-color{
    color: #fff !important;
    background: #1b75bb;
    border: none;
}

    .btn-color:hover {
        color: #fff !important;
        background: #2f2f2f;
    }


.btn-yellow{
    color: #2f455d !important;
    background: #ffe547;
    border: none;
}

    .btn-yellow:hover {
        color: #ffe547 !important;
        background: #2f455d;
    }


.btn-white {
    color: #2f455d;
    background: rgba(255,255,255,1);
    border: none;
}

    .btn-white:hover {
        color: #2f455d;
        background: #1b75bb;
    }

.btn-loffer {
    display: inline-block;
    color: #2f2f2f;
    background: #ffe547;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 24px;
}

    .btn-loffer:hover {
        color: #3f5368;
    }

.btn-banner, .btn-banner:hover {
    background-color: rgba(47,69,93,0.8);
    color: #fff;
} 

/* - Form Style //---------------- */
select {
    background: url(../images/select-icon.png) no-repeat scroll right 50% #fff !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #eaeaea;
    padding: 7px 24px 7px 10px;
}

.full select {
    width: 100%;
}

.main-form input, .main-form textarea, .main-form select {
    background: #fff;
    padding: 8px 15px;
    width: 100%;
    border: 1px solid #eaeaea;
    min-height: 40px;
}

.main-form textarea {
    max-width: 100%;
}

.check-box label {
    color: #2f455d;
    display: inline;
    font-size: 15px;
    font-weight: 400;
}

.checkout-section .check-box input[type="checkbox"] {
    margin: 5px 0 0;
    min-height: 1px;
}


/* - Spacer Style  //---------------- */

.right-side {
	float: right;
}

.left-side {
	float: left;
}



.plr-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.mlr_-8 {
    margin-left: -8px;
    margin-right: -8px;
}



.plr-20 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mlr_-20 {
    margin-left: -10px !important;
    margin-right: -10px !important;
}



.plr-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.mlr_-25 {
    margin-left: -25px;
    margin-right: -25px;
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ptb-95 {
    padding-top: 95px;
    padding-bottom: 95px;
}

.pt-95 {
    padding-top: 95px;
}

.pb-95 {
    padding-bottom: 95px;
}

.p-0 {
    padding: 0px;
}

.mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.m-0 {
    margin: 0px;
}

/* - Newsletter   //----------------- */

#newslater-popup {
    max-width: 715px;
    margin: 0 auto;
    position: relative;
}

.nl-popup-main {
    color: #fff;
    background: #1b75bb;
    padding: 20px;
}

.nl-popup-inner {
    border: 2px solid rgba(255,255,255,0.3);
    padding: 70px 20px;
}

.nl-popup-title {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
}

.nl-popup-main .sub-text {
    font-size: 18px;
    margin: 7px 0 16px;
}

.email-box {
    padding-right: 48px;
    position: relative;
}

.email-box-main {
    max-width: 360px;
    margin: 0 auto;
}

.email-box input.input-text {
    border: none;
    color: #666;
    padding: 6px 0 6px 16px;
    height: 45px;
    width: 100%;
}

.email-box button.email-btn {
    background: url("../images/sprite.png") no-repeat scroll -102px -222px #ffe547;
    border: medium none;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}

.email-box button.email-btn:hover {
    background-color: #2f455d;
    background-position: -102px -252px;
}

#newslater-popup .mfp-close {
    background-color: #1b75bb;
    color: #fff;
    opacity: 1;
    top: 0px;
}

.column-20per {
    width: 20%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.column-80per {
    width: 80%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}


/*_______________________________________________________
// HEADER  //----------------------------
_______________________________________________________*/

/* - Header Style  //---------------- */

.header-top {
    padding: 4px 0;
    background-color: #ffffff;
}

.top-link ul li {
    float: left;
}

.top-link ul li a {
    border-right: 1px solid #ddd;
    line-height: 17px;
    padding: 0 12px;
}

.top-link ul li:first-child a {
    padding-left: 0;
}

.top-link ul li:last-child a {
    border-right: none;
    padding-right: 0;
}

.header-middle {
    background: #1b75bb;
    padding: 5px 0;
}
.header-bottom {
    background: #53bcfd;
}
.navbar-header .navbar-brand {
    height: auto;
    padding: 13px 0;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.navbar {
    border: none;
    margin-bottom: 0; 
}

header {
    position: relative;
}

.header-right-part {
    padding: 0 160px 0 303px;
    position: relative;
    margin: 24px 0;
}

.latestoffrweek {
    margin-top: 3px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
}

.latestoffrweek a span {
    background: url("../images/sprite.png") no-repeat scroll -79px -746px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-bottom: -4px;
}

.latestoffrweek:hover .line-hover {
    display: block;
}

.line-hover {
    border: 1px dashed #3f5368;
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    left: 5px;
    top: 5px;
    display: none;
}
.category-dropdown {
    position: absolute;
    left: 0;
    top: 0;
}

.category-dropdown select {
    border: 0;
    height: 45px;
    width: 300px;
}
.search-box {
	position: relative;
    padding-right: 48px;
}

.header-right-part .cart-icon {
    padding: 0 0 30px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}

.header-right-part .cart-icon:hover {
    overflow: visible;
}

.header-right-part ul li.main-search {
    overflow: visible;
}

.search-box input.input-text {
    border: none;
    width: 100%;
    padding: 6px 6px 6px 10px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    height: 45px;
}

/* .search-box:hover input.input-text, .search-box input.input-text:focus {
    width: 250px;
    opacity: 1;
}
 */
.search-box button.search-btn {
	background: url("../images/sprite.png") no-repeat scroll -3px -83px #ffe547;
	border: none;
	height: 45px;
	width: 45px;
	position: absolute;
	right: 0;
	top: 0px;
}

.search-box button.search-btn:hover {
    background-position: -3px -118px;
    background-color: #2f455d;
}

.header-right-part .cart-icon a span {
    background: url("../images/sprite.png") no-repeat scroll 0 0 transparent;
    height: 44px;
    width: 35px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.header-right-part i.account-icon > a span {
    background-position: -14px -235px;
}

.header-right-part .cart-icon > a span {
    background-position: -70px -633px;
    position: relative;
    float: left;
    margin-right: 10px;
}

.header-right-part .cart-text {
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 6px;
}

.header-right-part .account-icon:hover > a span {
    background-position: -14px -273px;
}

.header-right-part .cart-icon:hover > a span {
    background-position: -110px -633px;
}

.header-right-part .cart-icon > a span small.cart-notification {
    color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    height: 15px;
    line-height: 13px;
    position: absolute;
    right: 9px;
    text-align: center;
    top: 18px;
    width: 15px;
    font-size: 14px;
    font-weight: 700;
}

/* - Navigation Menu Style //---------------- */ 
.navbar-collapse {
    border-bottom: 2px solid #1b75bb;
    padding: 0;
    width: 100%;
    position: relative;
}

.navbar-nav > li {
    padding: 0 28px;
}

.navbar-nav > li > a {
    border-bottom: 2px solid transparent;
    padding: 17px 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 15px;
    margin-bottom: -2px;
}

.navbar-nav > li:first-child {
    padding-left: 0;
}

.nav li:last-child {
  position: relative !important;
}

.nav > li {
    position: inherit;
}

.nav > li:hover > a, .nav > li.active > a, .nav > li > a:focus {
    border-color: #1b75bb;
    background: none;
    color: #1b75bb;
}

/* .header_search_toggle.mobile-view {
    display: none;
} */

.header-link-dropdown {
    background: #fff;
    border: 1px solid #f1f1f1;
    /* color: #fff; */
    position: absolute;
    width: 320px;
    display: inline-block;
    right: 0;
    top: 100%;
    padding: 35px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}
.header-right-part .cart-icon:hover .header-link-dropdown {
    opacity: 1;
}
.header-right-part .link-dropdown-list > li {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.header-right-part .link-dropdown-list > li a.close-cart i.fa {
    font-size: 18px;
}

.cart-dropdown a, .cart-dropdown strong {
    color: #6d6d6d;
}
.cart-dropdown ul li a:hover {
    color: #1b75bb;
}
.cart-dropdown .cart-list li .media {
    padding-right: 25px;
    margin-top: 0;
}
.cart-dropdown .media-body span {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
}
.cart-dropdown .cart-list li .media .pull-left {
    width: 95px;
    padding-right: 20px;
}
.cart-dropdown .cart-list li .media .pull-left img {
    max-width: 100%;
}
.close-cart {
    color: #fff;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
}

.cart-dropdown .input-text.qty {
    background-color: transparent;
    padding: 0 3px;
}

.cart-dropdown .cart-price {
    color: #2f455d;
    font-weight: 700;
    font-size: 16px;
}

.account-link-dropdown {
    width: 280px;
}

.header-link-dropdown .dropdown-title {
    color: #1b75bb;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.account-link-dropdown, .account-link-dropdown a {
    color: #a6a6a6;
}

.account-link-dropdown a:hover, .account-link-dropdown a.active {
    color: #1b75bb;
}

.account-link-dropdown .link-dropdown-list > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* - Megamenu Style //---------------- */
.nav > li {
    overflow: hidden;
    position: relative;
}

.nav > li:hover {
    overflow: visible;
    position: inherit;
}

.megamenu {
    /* background: #1b75bb; */
    background: #fff;
    border-top: 2px solid #1b75bb;
    color: #a4a4a4;
    opacity: 0;
    padding: 20px 30px;
    position: absolute;
    top: 100%;
    z-index: 2;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    transform: perspective(1300px) rotateY(-45deg);
    -webkit-transform: perspective(1300px) rotateY(-45deg);
    -moz-transform: perspective(1300px) rotateY(-45deg);
    -o-transform: perspective(1300px) rotateY(-45deg);
}

.megamenu.full {
    left: 0;
    width: 100%;
}

.nav > li.level:hover .megamenu {
    opacity: 1;
    transform: perspective(1300px) rotateY(0deg);
    -webkit-transform: perspective(1300px) rotateY(0deg);
    -moz-transform: perspective(1300px) rotateY(0deg);
    -o-transform: perspective(1300px) rotateY(0deg);
}

.megamenu-inner-top {
    display: inline-block;
    width: 100%;
}

.megamenu .sub-menu-level1 li.level2 {
    float: left;
    min-width: 220px;
}

.megamenu .sub-menu-level1 li.level2:last-child {
    min-width: 170px;
}

.megamenu .level2 > a {
    display: inline-block;
    margin-right: 35px;
    color: #2f455d;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 100%;
}

.megamenu .sub-menu-level2 li.level3 > a {
    /* color: #a6a6a6; */
    color: #7c7c7c;
    display: inline-block;
    padding: 4px 0;
}

.megamenu .sub-menu-level2 li.level3 > a:hover {
    color: #1b75bb;
}

.megamenu .sub-menu-level2 li.level3 > a span {
    float: left;
    font-size: 9px;
    margin-right: 9px;
    margin-top: -1px;
}


/*_______________________________________________________
// Contant  //----------------------------
_______________________________________________________*/

/* - banner Style  //---------------- */
.banner {
    overflow: hidden;
    position: relative;
}

/* main-banner icon start */
.banner .owl-prev, .banner .owl-next {
    background: url(../images/sprite.png) no-repeat scroll 0 0 rgba(0,0,0,0) !important;
    color: #2f455d;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -0-transform: translateY(-50%);
    overflow: visible;
    height: 35px;
    width: 35px;
    font-size: 0;
    margin-top: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}
.banner .owl-next {
    background-position: -107px -15px !important;
    right: 10px;
}
    .banner .owl-next:hover {
        background-position: -107px -68px !important;
    }
.banner .owl-prev {
   background-position: -106px -120px !important;
   left: 10px;
}
    .banner .owl-prev:hover {
        background-position: -106px -173px !important;
    }


.main-banner .owl-controls .owl-pagination {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -0-transform: translateX(-50%);
    transform: translateX(-50%);
}
.main-banner .owl-pagination .owl-page > span {
    height: 5px;
    width: 30px;
}
/* main-banner icon end */

.banner-detail {
    position: absolute;
    top: 25%;
    width: 100%;
}

.banner-detail .banner-detail-inner {
    color: #fff;
    /* font-family: 'Anton', sans-serif; */
    letter-spacing: 0;
}

.banner-detail .banner-detail-inner .banner-title {
    color: #1b75bb;
    /* text-transform: uppercase; */
    font-size: 60px;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 700;
}

.banner-detail .banner-detail-inner span.slogan {
    color: #3f5368;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 10px;
    width: 100%;
}

.banner-detail .banner-detail-inner span.offer {
    background: rgba(47,69,93,0.8);
    padding: 20px;
    font-size: 30px;
    /* text-transform: uppercase; */
    display: inline-block;
    margin-top: 10px;
    /* letter-spacing: 3px; */
}

/* .banner-2 .banner-detail .banner-detail-inner .banner-title {
    color: #2f455d;
} */

/* .banner-2 .banner-detail .banner-detail-inner span.offer {
    background: #1b75bb;
} */

.inner-banner {
    background: url(../images/inner-banner.jpg) no-repeat scroll center center;
    padding: 72px 0;
}

.inner-banner .banner-detail {
    position: relative;
}

.inner-banner .banner-detail h1 {
    color: #2f455d;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 0;
}

/* - Bread-crumb Starts //---------------- */
.inner-banner .bread-crumb {
  margin-top: 10px;
}

.bread-crumb ul li {
    display: inline-block;
    color: #7c7c7c;
}

.bread-crumb ul li a {
    color: #7c7c7c;
}

.bread-crumb ul li a, .bread-crumb ul li span {
    margin: 0 10px;
    font-weight: 500;
}

.bread-crumb ul li a:hover {
    color: #1b75bb;
}

.bread-crumb ul li:first-child {
    padding-left: 0;
}
.bread-crumb ul li span {
    color: #1b75bb;
}

/* - Bread-crumb Ends //---------------- */

/* - Sub-banner Style  //---------------- */

.sub-banner-block .sub-banner:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.sub-banner {
    background: #2f455d;
	position: relative;
	margin-top: 16px;
    overflow: hidden;
}

/* .sub-banner:hover {
   -webkit-box-shadow: 0 0 0 2px #00ad73;
   -moz-box-shadow: 0 0 0 2px #00ad73;
   box-shadow: 0 0 0 2px #00ad73;
} */

/* .sub-banner .sub-banner-effect {
    border: 1px solid #fff;
    position: absolute;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    transform: scale(1.5) rotate(45deg);
    -moz-transform: scale(1.5) rotate(45deg);
    -webkit-transform: scale(1.5) rotate(45deg);
    -o-transform: scale(1.5) rotate(45deg);
    top: 15px;
    left: 15px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    opacity: 0;
}

.sub-banner:hover .sub-banner-effect {
    transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    opacity: 1;
} */

.sub-banner .sub-banner-detail {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.sub-banner .sub-banner-detail {
	left: 30px;
}

.sub-banner.sub-banner1 .sub-banner-detail {
	right: 30px;
    left: auto;
    text-align: right;
}

.sub-banner.sub-banner3 .sub-banner-detail {
	width: 100%;
}

.sub-banner a {
	color: #ffffff;
}

.sub-banner .sub-banner-detail .sub-banner-type, .sub-banner .sub-banner-detail .sub-banner-subtitle {
	font-weight: 600;
	font-size: 18px;
	font-style: italic;
}
.sub-banner .sub-banner-detail .sub-banner-title {
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
}

.sub-banner.sub-banner1 .sub-banner-detail .sub-banner-title {
	font-weight: 600;
	font-size: 20px;
}

.sub-banner .sub-banner-detail span {
	background: #1b75bb;
	display: inline-block;
}

.sub-banner-title-color {
	color: #f4e540;
}

.big.sub-banner-title-color {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
    display: inline-block;
}

.big.sub-banner-title-color span {
	font-size: 18px;
    font-style: normal;
    margin: 0;
    text-align: center;
    width: 25px;
    display: inline-block !important;
}

/* - Product Box //---------------- */

.featured-product {
    display: inline-block;
    margin-bottom: -30px;
    max-width: 100%;
}

.category-bar ul li {
    display: inline-block;
}

.category-bar ul li.active {
    pointer-events: none;
}

.category-bar ul li a {
    padding: 0 10px;
}

.category-bar ul li.active a {
    color: #1b75bb;
}

.pro_cat {
    position: relative;
}

.owl-carousel .owl-wrapper-outer {
    display: inline-block;
    padding-top: 7px;
    margin-top: -7px;
}

.banner .owl-carousel .owl-wrapper-outer {
    display: block;
}

.product-listing .product-item, .blog-listing .blog-item {
    margin-bottom: 30px;
}

.blog-listing .blog-item {
    margin-bottom: 40px;
}

.product-item {
    position: relative;
    overflow: hidden;
    padding-top: 7px;
    margin-top: -7px;
}

.pro_cat .product-slider-main {
    position: absolute;
    top: 0;
    width: 100%;
}

.product-slider .item {
    padding-left: 10px;
    padding-right: 10px;
}

.product-image {
    position: relative;
    overflow: hidden;
    min-width: 70px;
}

.product-image img {
    transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
}

.product-item:hover .product-image img {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.sale-label {
    background: #1b75bb;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    padding: 6px 10px;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
    top: 0px;
    z-index: 1;
}

.product-detail-inner {
    position: absolute;
    width: 100%;
    bottom: -49px;
    padding-top: 8px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.product-item:hover .product-detail-inner {
    bottom: -9px;
}

.product-item-details {
    background: url(../images/background.jpg);
    margin-top: 5px;
    position: relative;
    top: 0;
    vertical-align: middle;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.btn.btn-color.small.right-side {
    margin-top: 10px;
}

.shop-list-view .product-item-details {
  display: table-cell;
  padding: 0 20px;
}

.product-item:hover .product-item-details {
    top: -40px;
}

.special-products-block .product-item-details {
    margin-top: 0;
}

.shop-list-view:hover .product-item-name a, .product-item:hover .product-item-name a, .special-products-block:hover .product-item-name a, .sidebar-contant ul li:hover .pro-detail-info a, .cat-box-inner li:hover .pro-detail-info > a {
    color: #2f455d;
}

.product-item-details .price-box .price {
    margin-right: 5px;
}

.price-box .price {
    font-size: 16px;
    font-weight: 700;
    color: #2f455d;
}

.product-item-details .price-box .price.old-price {
    font-size: 14px;
    font-weight: 400;
    color: #7c93b2;
}

.detail-inner-left ul {
    display: inline-block;
}

.detail-inner-left ul li {
    float: left;
    padding: 0 5px;
    position: relative;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.detail-inner-left ul li:first-child {
    padding-left: 0;
}

.detail-inner-left ul li:last-child {
    padding-right: 0;
}

.detail-inner-left ul li a {
    background: url("../images/sprite.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 25px;
    width: 30px;
    margin-top: 4px;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

.product-item .detail-inner-left ul li a, .product-item .detail-inner-left ul li button span {
    transform: perspective(1300px) rotateY(180deg);
    -webkit-transform: perspective(1300px) rotateY(180deg);
    -moz-transform: perspective(1300px) rotateY(180deg);
    -o-transform: perspective(1300px) rotateY(180deg);
}

.product-item:hover .detail-inner-left ul li a, .product-item:hover .detail-inner-left ul li button span {
    transform: perspective(1300px) rotateY(0deg);
    -webkit-transform: perspective(1300px) rotateY(0deg);
    -moz-transform: perspective(1300px) rotateY(0deg);
    -o-transform: perspective(1300px) rotateY(0deg);
}

/* .detail-inner-left ul li a:before {
    position: absolute;
    content: "";
    left: 0;
    height: 25px;
    width: 1px;
    background: #dedede;
} */

.detail-inner-left ul li button {
    background-color: transparent;
    color: #2f455d;
    padding: 0;
    display: inline-block;
    border: none;
    margin-top: 5px;
    transition: all 0.4s ease 0s;
    -moz-transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
}

.detail-inner-left ul li button span {
    background: url("../images/sprite.png") no-repeat scroll -11px -327px;
    display: inline-block;
    margin-bottom: -7px;
    margin-right: 5px;
    height: 25px;
    width: 30px;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

.detail-inner-left ul li button:hover {
    color: #1b75bb;
}

.detail-inner-left ul li button:hover span {
    background-position: -11px -361px;
}

.detail-inner-left ul li.pro-wishlist-icon a {
    background-position: -11px -390px;
}

.detail-inner-left ul li.pro-wishlist-icon a:hover {
    background-position: -11px -424px;
}

.detail-inner-left ul li.pro-wishlist-icon.active a {
    background-position: -45px -424px;
}

.detail-inner-left ul li.pro-compare-icon a {
    background-position: -11px -458px;
}

.detail-inner-left ul li.pro-compare-icon a:hover {
    background-position: -11px -492px;
}

.rating-summary-block {
    padding: 5px 0;
}

.rating-summary-block .rating-result {
    display: inline-block;
    position: relative;
    width: 74px;
}

.rating-summary-block.big .rating-result {
    width: 88px;
}

.rating-summary-block .rating-result:before {
    color: #c7c7c7;
    content: "ï€…" "ï€…" "ï€…" "ï€…" "ï€…";
    display: block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 16px;
    left: 0;
    letter-spacing: 2px;
    line-height: 16px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.rating-summary-block .rating-result > span {
    display: block;
    overflow: hidden;
}

.rating-summary-block .rating-result > span::before {
    color: #ffc600;
    content: "ï€…" "ï€…" "ï€…" "ï€…" "ï€…";
    display: block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    position: relative;
    z-index: 1;
}

.rating-summary-block .rating-result:before, .rating-summary-block .rating-result > span:before {
    font-size: 13px;
    height: 13px;
    line-height: 13px;
}

.rating-summary-block.big .rating-result:before, .rating-summary-block.big .rating-result > span:before {
    font-size: 17px;
    height: 17px;
    line-height: 17px;
}

.product-slider .owl-prev, .product-slider .owl-next, #brand-logo .owl-prev, #brand-logo .owl-next {
    background: #fff;
    position: absolute;
    border: 2px solid #c2c2c2;
    height: 35px;
    width: 35px;
    text-align: center;
    margin-top: -30px;
    opacity: 0;
    top: 50%;
    padding: 4px 10px;
    font-size: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

#brand-logo .owl-prev, #brand-logo .owl-next {
    opacity: 1;
}

#brand-logo .owl-prev, #brand-logo .owl-next {
    margin-top: 0;
    background: transparent;
}

.product-slider .owl-prev:hover, .product-slider .owl-next:hover, #brand-logo .owl-prev:hover, #brand-logo .owl-next:hover {
    border-color: #1b75bb;
}

.product-slider .owl-next {
    right: -40px;
}

#brand-logo .owl-next {
    right: -50px;
}

.product-slider .owl-prev {
    left: -40px;
}

#brand-logo .owl-prev {
    left: -50px;
}

.product-slider .owl-prev:after, .product-slider .owl-next:after, #brand-logo .owl-prev:after, #brand-logo .owl-next:after {
    color: #c2c2c2;
    font-family: FontAwesome;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.product-slider .owl-prev:after, #brand-logo .owl-prev:after {
    content: "ï„„";
}

.product-slider .owl-next:after, #brand-logo .owl-next:after {
    content: "ï„…";
}

.product-slider .owl-prev:hover:after, #brand-logo .owl-prev:hover:after {
    color: #1b75bb;
}

.product-slider .owl-next:hover:after, #brand-logo .owl-next:hover:after {
    color: #1b75bb;
}

.product-slider .product-slider-main:hover .owl-prev, .product-slider .product-slider-main:hover .owl-next, #brand-logo:hover .owl-prev, #brand-logo:hover .owl-next {
    opacity: 1;
}

/* ------------------ */
.shop-list-view {
    margin-bottom: 40px;
    display: table;
}

.shop-list-view .product-item {
    float: left;
    width: 280px;
    z-index: 1;
}

.shop-list-view .product-item-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.shop-list-view .detail-inner-left {
    border-left: 1px solid #ddd;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

.shop-list-view .price-box {
    margin: -2px 0 15px;
}

.shop-list-view .rating-summary-block {
    padding: 0;
}

.shop-list-view .bottom-detail {
    margin-top: 15px;
    display: inline-block;
}

.shop-list-view .product-item-details, .product-detail-main .product-item-details {
    margin-top: 0;
}

/* - Perellex-Banner //---------------- */

.perellex-banner {
    background: url("../images/perellex.jpg") no-repeat fixed center center;
}

.perellex-bg {
    background: rgba(0,173,115,0.9);
    padding-left: 30px;
    padding-right: 30px;
}

.perellex-bg  .perellex-title {
    color: #fff;
    font-size: 30px;
    line-height: 35px;
}

.perellex-bg  .perellex-title span {
    font-weight: 700;
}

.perellex-banner .btn-black:hover {
    background: #fff;
    color: #2f455d;
}

/* perellex-banner End */

/* - Site Services Features Block //---------------- */

.ser-feature-block {
    background: #ffffff;
    padding: 30px 25px;
}

.ser-feature-block .col-md-4:last-child .feature-box {
    border: none;
}

.ser-feature-block .feature-box {
    background: url("../images/shipping_icon.png") no-repeat scroll 0 0;
    padding-left: 80px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.ser-feature-block .feature-box .ser-title {
    color: #2f455d;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    display: inline-block;
}

.ser-feature-block:hover .feature-box .ser-title {
    color: #1b75bb;
}

.ser-feature-block .feature-box.feature1 {
    background-position: 5px 7px;
}

.ser-feature-block .feature-box.feature2 {
    background-position: 5px -120px;
}

.ser-feature-block .feature-box.feature3 {
    background-position: 5px -246px;
}

.ser-feature-block:hover .feature-box.feature1 {
    background-position: 5px -57px;
}

.ser-feature-block:hover .feature-box.feature2 {
    background-position: 5px -180px;
}

.ser-feature-block:hover .feature-box.feature3 {
    background-position: 5px -318px;
}

/* Site Services Features Block css Ends */


/* - Special Product Block //---------------- */
.special-products-block {
    position: relative;
    overflow: hidden;
    margin-top: -7px;
    padding-top: 7px;
}

.special-products-block .product-item {
    max-width: 338px;
    float: left;
    margin-right: 30px;
}

.special-products-block .pro-detail-main {
    margin-left: 368px;
    position: relative;
}

.special-products-block .product-item-details .product-item-name {
    font-size: 22px;
    margin-bottom: 15px;
}

.special-products-block .product-item-details .price-box .price {
    font-size: 20px;
}

.special-products-block .product-item-details .price-box .price.old-price {
    font-size: 16px;
}

.special-products-block .rating-summary-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.special-products-block .label-review {
    color: #8f8f8f;
    font-size: 12px;
    font-style: italic;
}

.bottom-detail ul li {
    border-right: 1px solid #ccc;
    display: inline-block;
    padding: 0 12px;
}

.bottom-detail ul li:first-child {
    padding-left: 0;
}

.bottom-detail ul li:last-child, .bottom-detail ul li.pro-cart-icon {
    padding-right: 0;
    border-right: none;
}

.special-products-block .bottom-detail .pro-compare-icon {
    margin-top: 10px;
}

.special-products-block .pro-detail-main .bottom-detail {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* .product-item-details .bottom-detail {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
} */

.product-detail-main .product-item-details .product-qty ~ .bottom-detail {
    border: none;
    padding: 0;
}

.product-detail-main .product-item-details .bottom-detail {
    display: inline-block;
}

.bottom-detail ul li span {
    background: url(../images/sprite.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-bottom: -5px;
    margin-top: -5px;
    margin-right: 7px;
}

.bottom-detail ul li.pro-cart-icon span {
    background-position: -80px -327px;
}

.bottom-detail ul li.pro-wishlist-icon span {
    background-position: -14px -392px;
}

.bottom-detail ul li.pro-compare-icon span {
    background-position: -14px -459px;
}

.bottom-detail ul li.pro-email-icon span {
    background-position: -49px -462px;
}

.bottom-detail ul li.pro-wishlist-icon:hover span {
    background-position: -14px -426px;
}

.bottom-detail ul li.pro-compare-icon:hover span {
    background-position: -14px -493px;
}

.bottom-detail ul li.pro-email-icon:hover span {
    background-position: -49px -496px;
}

#special-pro .owl-prev, #special-pro .owl-next {
    position: absolute;
    top: -85px;
    font-size: 0;
}

#special-pro .owl-prev {
    right: 50px;
}

#special-pro .owl-next {
    right: 20px;
}

#special-pro .owl-prev:after, #special-pro .owl-next:after {
    color: #c2c2c2;
    font-family: FontAwesome;
    font-size: 28px;
    line-height: 55px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

#special-pro .owl-prev:hover:after, #special-pro .owl-next:hover:after {
    color: #8a8a8a;
}

#special-pro .owl-prev:after {
    content: "ï„„";
}

#special-pro .owl-next:after {
    content: "ï„…";
}
/* Special Product Block css Ends */

/* - Custom News Letter //---------------- */
.newsletter {
    background: #1b75bb;
}

.newsletter-inner {
    color: #fff;
    padding: 25px 0;
}

.newsletter-inner .main_title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.newsletter-box {
    position: relative;
    padding-right: 100px;
    margin-top: 15px;
}

.newsletter-inner input {
    color: #6f6f6f;
    width: 100%;
    border: none;
    padding: 9px;
}

.newsletter-inner button {
    position: absolute;
    right: 0;
    top: 0;
}
/* Custom News Letter CSS End */

/* - Testimonial //---------------- */
.client-bg .owl-carousel .owl-wrapper-outer {
    margin-top: -20px;
    padding-top: 20px
}

.client-main .item {
    margin-right: 30px;
    display: inline-block;
}

.client-main .item p {
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
}

.user-detail-inner {
    display: inline-block;
    margin-top: 30px;
}

.quote {
    background: #fff;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
}

.quote:before {
    background: url(../images/blockquote.png) no-repeat scroll 0 0;
    content: "";
    width: 45px;
    height: 42px;
    position: absolute;
    left: 20px;
    top: -20px;
}

.client-main .item .client-title {
    color: #1b75bb;
    font-weight: 700;
    margin-bottom: 0;
}

.client-main .item .designation {
    font-style: italic;
}

.owl-pagination {
    display: inline-block;
    margin-top: 20px;
}

.owl-pagination .owl-page {
    float: left;
    margin: 0 3px;
}

.owl-pagination .owl-page > span {
    background: #7d7d7c;
    display: inline-block;
    height: 4px;
    width: 20px;
}

.owl-pagination .owl-page.active > span, .owl-pagination .owl-page:hover > span {
      background: #1b75bb;
}

.client-main {
    background: #fff;
    position: relative;
}

.client-main .owl-carousel {
    position: inherit;
}

.client-main .owl-prev, .client-main .owl-next {
    /* color: #2f455d;
    font-weight: bold;
    text-transform: uppercase; */
    position: absolute;
    bottom: 10%;
    font-size: 0;
    /* -moz-transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -0-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg); */
}

.client-main .owl-next {
    right: 40px;
}

.client-main .owl-prev {
    right: 65px;
}

.client-main .owl-next:before, .client-main .owl-prev:before {
    /* position: absolute;
    content: "";
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -0-transform: rotate(90deg);
    z-index: -1;  */
    color: #c2c2c2;
    font-family: FontAwesome;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    transition: all 0.4s ease 0s;
}

.client-img {
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.client-main .owl-next:before {
    /* border-color: #fff #fff transparent transparent;
    border-style: solid;
    border-width: 50px 20px;
    bottom: -22px; */
    content: "ï„…";
}

.client-main .owl-next:hover::before, .client-main .owl-prev:hover::before {
    color: #1b75bb;
}

.client-main .owl-prev:before {
    /* border-color: transparent transparent #fff #fff;
    border-style: solid;
    border-width: 50px 20px;
    top: -22px; */
    content: "ï„„";
}

.client-main .owl-pagination {
  display: none;
}

/* Testimonial CSS End */

/* - Video //---------------- */
.video-block {
    background: #fff;
    padding: 23px;
}

.video-block p {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 15px;
    letter-spacing: 1px;
}
/* video-block CSS End */

/* cat-box css Start */
.cat-img {
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.cat-img span {
    background: #1b75bb;
    color: #ffffff;
    position: absolute;
    bottom: 18px;
    font-size: 18px;
    font-weight: 600;
    width: calc(100% - 80px);
    padding: 13px 0;
    left: 50%;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.cat-img:hover span {
    -ms-transform: translateX(-50%) scale(0.9);
    -webkit-transform: translateX(-50%) scale(0.9);
    -o-transform: translateX(-50%) scale(0.9);
    transform: translateX(-50%) scale(0.9);
}

.cat-box-inner .pro-media img {
    transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
}

.cat-img:hover img, .cat-box-inner li:hover .pro-media img {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.cat-box-inner .pro-media {
    margin-right: 20px;
    width: 115px;
    overflow: hidden;
}

.cat-box-inner ul li {
    display: inline-flex;
    margin-bottom: 5px;
    padding: 15px 0px;
}

.cat-box-inner ul li:first-child {
    padding-top: 0;
}

.cat-box-inner ul li:last-child {
    padding-bottom: 0;
}

.cat-box-inner .cart-link button {
    color: #1b75bb;
    background-color: transparent;
    border: medium none;
    letter-spacing: 0;
    padding: 0;
    margin-top: 12px;
}

.cat-box-inner .cart-link button:hover {
    color: #2f455d;
}
/* cat-box css End */

/* - Blog //---------------- */
.blog-media {
    overflow: hidden;
    background: #2f455d;
    position: relative;
}

.blog-item .blog-media img {
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.blog-item:hover .blog-media img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.blog-item a.read {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.4s ease 0s;
}

.blog-item:hover a.read {
    opacity: 1;
}

.blog-item a.read::after {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #ffffff;
    content: "ïƒ";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    height: 45px;
    padding: 10px;
    text-align: center;
    width: 45px;
}

.blog-detail {
    margin-top: 13px;
}

.blog-main .blog-detail {
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.blog-main .blog-detail .row {
    height: 100%;
}

.blog-main .blog-detail .blog-detail-inner {
    background: rgba(57,69,84,0.9);
    color: #fff;
    height: 100%;
}

.blog-main .blog-contant {
    height: 100%;
    padding: 35px 0;
    margin-left: 10px;
    position: relative;
}

.blog-main .blog-title a {
    color: #fff;
    font-weight: 700;
}

.post-date {
    color: #1b75bb;
    font-style: italic;
}

.blog-detail p {
    margin-bottom: 20px;
}

.blog-tag {
    margin-bottom: 15px;
}

.blog-tag span {
    background: #ffe547;
    color: #2f455d;
    font-size: 13px;
    padding: 0 5px;
}

.blog-detail .post-info {
    margin-top: 15px;
}

.blog-detail .post-info ul li {
    display: inline-block;
    margin-right: 15px;
    font-style: italic;
}

.blog-main .blog-detail .post-info {
    position: absolute;
    bottom: 35px;
}

.blog-main .blog-detail .post-info ul li a {
  color: #ffe547;
}

.blog-main .blog-detail .post-info ul li a:hover {
  color: #fff;
}
/* Blog CSS End */


/* - Brand-Logo //---------------- */
.brand {
    padding: 0 50px;
}

.brand .item {
    text-align: center;
}

.brand .item img {
    opacity: 0.5;
}

.brand .item img:hover {
    opacity: 1;
}
/* Brand-Logo CSS End */

/* - Sidebar //---------------- */
.gray-box {
    background: #f0f0f0;
    padding-bottom: 25px;
}

.sidebar-title {
    padding: 0 0 8px;
    margin-bottom: 15px;
}

.sidebar-title h3 {
    margin-bottom: 0;
}

.listing-box ul li:last-child {
    border-bottom: none;
}

.listing-box ul li a {
    padding: 6px 0;
    display: inline-block;
    width: 100%;
}

.listing-box ul li:first-child a {
    padding-top: 0;
}

.gray-box .sidebar-contant {
    padding: 0 17px;
}

.inner-title {
    color: #2f455d;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 700;
}

.price-range .price-txt {
    color: #1b75bb;
    font-weight: 600;
}

.filter-sidebar .filter-inner-box ul li {
    cursor: pointer;
    display: inline-flex;
    width: 100%;
}

.filter-inner-box ul li.active > span, .filter-inner-box ul li:hover > span {
    background: none repeat scroll 0 0 #1b75bb;
}

.filter-inner-box ul li > span {
    border: 1px solid #b6b6b6;
    box-shadow: 0 0 0 1px #fff inset;
    display: inline-block;
    height: 12px;
    margin-right: 7px;
    margin-top: 1px;
    width: 12px;
    z-index: 0;
}

.filter-inner-box ul li span input[type="checkbox"] {
    margin-top: 0;
    min-height: auto;
    opacity: 0;
}

.filter-inner-box ul li.active label {
    color: #1b75bb;
}

.filter-inner-box ul li label {
    color: #666;
    cursor: pointer;
    font-weight: normal;
    margin-top: -5px;
    width: 100%;
}


.sidebar-item ul li {
    display: inline-flex;
    padding: 7px 0;
    margin-bottom: 5px;
}

.sidebar-item ul li:first-child {
    padding-top: 0;
}

.sidebar-item .pro-media {
    padding: 0 10px 0 0;
    width: 108px;
}

.sidebar-item-wide .pro-media {
    width: 110px;
}

.pro-detail-info .price-box .price {
    color: #2f455d;
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
}

.pro-detail-info .rating-summary-block {
    padding: 0;
}

.sidebar-item .cart-link button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 400;
}

.sidebar-item .cart-link button:hover, .sidebar-item ul li:hover .cart-link button {
    color: #1b75bb;
}

.cat-box-inner li:hover .pro-detail-info > a, .sidebar-contant ul li:hover .pro-detail-info a {
    color: #1b75bb;
}

/* Sidebar CSS END */

/* - Sorting //---------------- */
.shorting {
    padding-bottom: 15px;
}

.shorting select {
    padding: 5px 24px 5px 5px;
}

.shorting .view {
    float: left;
    margin-right: 20px;
}

.list-types {
    display: inline-flex;
    float: left;
    margin: 3px 0px 0;
    padding: 0 5px;
}

.list-types-icon {
    background: url(../images/grid-list.png) no-repeat scroll 0 0 #ffffff;
    border: 1px solid transparent;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.list-types.active .list-types-icon {
    background-color: #fff;
    border: 1px solid #1b75bb;
}

.grid-icon {
    background-position: 1px 1px;
}

.list-icon {
    background-position: -33px 1px;
}

.grid-icon:hover, .list-types.active .grid-icon {
    background-position: 1px -24px;
}

.list-icon:hover, .list-types.active .list-icon {
    background-position: -33px -24px;
}

.list-types a {
    display: inline-flex;
}

.shorting select {
    font-size: 14px;
}
.short-by, .select-item {
    float: left;
    position: relative;
}
.short-by > span, .show-item > span {
    float: left;
    margin: 5px 10px 3px;
}

.compare {
    float: right;
}

.compare .btn {
    padding: 8px 15px;
}

.pagination-bar {
    margin-top: 20px;
}
.pagination-bar ul {
    display: inline-flex;
}
.pagination-bar ul li {
    float: left;
    margin: 0 2px;
}
.pagination-bar ul li a {
    background: #ffffff;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
}
.pagination-bar ul li.active a {
    background: #2f455d;
    color: #fff;
}
/* Sorting CSS End */

/* - Product Detail Page //---------------- */

/* -- Product Zoom Slider Start -- */
.fotorama__nav--thumbs {
    margin-top: 15px;
}

.fotorama__nav__frame.fotorama__nav__frame--thumb {
    height: auto !important;
    margin: 0 8px;
    opacity: 0.3;
}

.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
    opacity: 1;
}

.fotorama__img {
    position: relative;
    top: 0 !important;
}

.fotorama__thumb-border {
    display: none !important;
}

.fotorama__nav::before, .fotorama__stage::before {
    background-image: none;
}

.fotorama__nav::after, .fotorama__stage::after {
    background-image: none;
}

.fullscreen {
    background-color: transparent;
}

.fotorama--fullscreen {
    background: rgba(0,0,0,0.7);
}

.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage {
    background-color: transparent;
}

.fotorama__nav.fotorama__nav--thumbs {
    background: #fff;
}

.fotorama__fullscreen-icon {
    background: url(../images/sprite.png) no-repeat scroll -107px -289px #ffe547;
    height: 40px;
    width: 40px;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background-position: -108px -328px;
}
/* -- Product Zoom Slider End -- */

.product-detail-main .product-item-details .product-item-name {
    font-size: 22px;
    margin-bottom: 0;
    letter-spacing: 0;
}

.product-listing .shop-list-view .product-item {
    margin-bottom: 0;
}

.product-detail-main .price-box .price {
    font-size: 22px;
}

.product-detail-main .rating-summary-block {
    margin-bottom: 20px;
}

.product-info-stock-sku {
    margin-top: 5px;
    margin-bottom: 15px;
}

.product-info-stock-sku > div {
    display: inline-block;
    margin-right: 20px;
}

.product-info-stock-sku label {
    font-weight: 400;
}

.product-info-stock-sku .price-box {
    display: inline-block;
}

.product-info-stock-sku .info-deta {
    text-transform: uppercase;
    font-weight: bold;
}

.form-control {
    border-color: #dedede;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    height: 40px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.product-qty {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.custom-qty {
    display: inline-flex;
}

.increase.items, .reduced.items {
    /* background: transparent; */
    border: none;
    color: #888;
    padding: 13px 15px 12px;
    float: left;
    margin: 0 2px;
}

.input-text.qty {
    border: 1px solid #dedede;
    max-width: 45px;
    padding: 4px 13px;
    float: left;
    text-align: center;
    margin: 0;
}

.share-link {
    margin-top: 30px;
}

.share-link label {
    font-weight: 400;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
}

/* Product Page Tab CSS Start */
.nav-tabs {
    border-bottom: 1px solid #e1e1e1;
}
.nav-tabs > li > a {
    border-color: #eee #eee #ddd;
}

.product-detail-tab {
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.product-detail-tab .nav > li > a {
    background-color: transparent;
    text-decoration: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    letter-spacing: -0.5px;
    color: #2f455d;
}
.product-detail-tab .nav > li:first-child > a {
    padding-left: 0;
}
.nav-tabs > li > a.selected, .nav-tabs > li > a.selected:hover, .nav-tabs > li > a.selected:focus {
    border-bottom: 2px solid #1b75bb;
    color: #1b75bb;
}
.tab_content {
    border-bottom: 1px solid #e1e1e1;
    border-top: 0;
    padding: 30px 0;
}
.Description, .items-Product-Tags, .items-Reviews, .comments-area-main {
    /* padding: 30px 0; */
    line-height: 25px;
}
.tab_content ul li strong {
    font-weight: 500;
    color: #2f455d;
}
.items-Description, .items-Product-Tags, .items-Reviews {
    display: none;
}
.items-Description.selected, .items-Product-Tags.selected, .items-Reviews.selected {
    display: block;
}
.product-item-details label {
  color: #2f455d;
}
/* Product Page Tab CSS End */

/* - Comment Block //---------------- */
.comment-list > li {
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
}
.comments-area > .comment-list > li:first-child {
    border: none;
    padding-top: 0;
}
.comment-user {
    float: left;
    margin-right: 20px;
}
.comment-detail {
    display: table-cell;
    padding-bottom: 10px;
}
.comment-detail .user-name {
    text-transform: uppercase;
    color: #1b75bb;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.1;
}
ul.child-comment {
    margin-left: 63px;
}

.comment-detail .post-info ul {
    display: inline-flex;
}

.comment-detail .post-info ul li {
    float: left;
    margin-right: 15px;
    font-size: 14px;
    padding: 0;
}

.comment-detail .post-info ul li i.fa {
    margin-right: 5px;
}
/* --------------- Comment CSS End ------------------ */

/* Product Detail Page CSS End */

/* - Contact Page //---------------- */

.checkout-section .input-box {
    margin-bottom: 23px;
}

.check-box span {
    display: inline-block;
    float: left;
    height: 18px;
    margin-right: 2px;
    width: 18px;
    z-index: 0;
}

.check-box.left-side {
    margin-top: 10px;
}

.forgot-password {
    color: #0040a5;
    text-decoration: underline;
    font-weight: 600;
    display: inline-block;
}

.contact-info .p-0 {
    border-right: 1px solid #e1e1e1;
}

.contact-info .p-0:last-child {
    border: medium none;
}

/* - Contact Page Ends //---------------- */

/* - Cart Page //---------------- */
.commun-table th span {
    float: left;
    font-size: 14px;
    font-weight: 400;
    clear: both;
}

.commun-table td .product-title {
    min-width: 300px;
}

table.table{
    border: 15px solid #ffffff;
    border-top: none;
    margin-bottom: 0;
}

.complete-order-detail table.table {
    border-top: 15px solid #ffffff;
}

.commun-table .table thead tr th {
    background: #ffffff;
    border-bottom: none;
    padding: 22px 20px;
}

.cart-item-table .table tbody tr td {
    padding: 20px 25px;
    vertical-align: middle;
}

.cart-total-table .table tbody tr td {
    padding: 10px 25px;
    vertical-align: middle;
}

.cart-total-table .table thead tr th {
    padding: 15px 25px;
    vertical-align: middle;
}

.commun-table .table tbody tr:first-child td {
    border-top: medium none;
}

.cart-item-table thead tr th:first-child, .cart-item-table tbody tr td:first-child {
    max-width: 110px;
}

.cart-item-table tbody tr td:last-child, .cart-item-table thead tr th:last-child {
    text-align: center;
}

.commun-table th ul li {
    text-align: left;
    float: left;
    margin-right: 30px;
}

.commun-table th ul li .price {
    font-size: 14px;
}

.commun-table th ul li:last-child {
    margin-right: 0;
    float: right;
}

.complete-order-table tbody tr td:last-child, .complete-order-table thead tr th:last-child {
    text-align: left;
}

.commun-table .table tbody tr td i.cart-remove-item {
    color: #ff0000;
    font-size: 18px;
    cursor: pointer;
}

.commun-table tbody tr td .input-box select {
    width: 100px;
    padding: 5px;
}

.cart-total-table .table tbody tr td b {
    font-size: 16px;
    color: #2f455d;
}

.cart-total-table .table tbody tr td .price {
    color: #2f455d;
    font-size: 14px;
    font-weight: 500;
}

.estimate select {
    padding: 12px 10px;
}
/* Cart Page CSS Start */

/* - Checkout Page //---------------- */

.checkout-step{
    display: inline-block;
    width: 100%;
}

.checkout-step ul{
    display: table;
    margin: 0px auto 25px;
}

.checkout-step ul li{
    float: left; 
    font-size: 15px; 
    color: #1b75bb;
    cursor: pointer;
    text-align: center;
    margin: 0 1px;
}
.checkout-step ul li .step{
    float: left;
    position: relative;
    margin-bottom: 10px;
}
.checkout-step ul li .step .circle{
    background: #1b75bb; 
    color: #fff; 
    display: inline-block; 
    width: 32px; 
    height: 32px; 
    padding: 3px 11px;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: left;
    left: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.checkout-step ul li .step .line {
    background: #1b75bb none repeat scroll 0 0; 
    float: left; 
    height: 7px; 
    margin: 12px -1px 12px 0; 
    width: 155px;
}
.checkout-step ul li:first-child .step .line{
    width: 155px;
}
.checkout-step ul li:last-child .step .line{
    width: 155px;
    background: #2f455d;
}
.checkout-step ul li span {
    color: #1b75bb; 
    display: block; 
    padding:6px 15px 6px 6px;
    line-height: 20px;
}
.checkout-step ul li.step-done{color: #26537f;}
.checkout-step ul li.active{color: #1b75bb; }
.checkout-step ul li.step-done .step .circle, .checkout-step ul li.step-done .step .line{background: #26537f;}
.checkout-step ul li.active .step .circle, .checkout-step ul li.active .step .line{background: #1b75bb;}

.checkout-step li.active + li .circle, 
.checkout-step li.active + li + li .circle, 
.checkout-step li.active + li + li + li .circle, 
.checkout-step li.active + li .line, 
.checkout-step li.active + li + li .line, 
.checkout-step li.active + li + li + li .line {
    background: #2f455d; 
}

.checkout-step li.active + li span, 
.checkout-step li.active + li + li span, 
.checkout-step li.active + li + li + li span {
    color: #2f455d;
}

.heading-bg h2.heading {
    border-bottom: 1px solid #cad2d4;
    padding: 0 17px 8px 0;
}

.checkout-section h2.heading {
    letter-spacing: 0px;
    font-weight: 600;
}

.payment-option-box {
    padding: 20px;
    border: 1px solid #cad2d4;
}

.payment-option-box-inner {
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.payment-top-box {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.paypal-box {
    border: 1px solid #ddd;
    float: left;
    padding: 10px;
    position: relative;
    margin-left: 10px;
}

.paypal-top {
    background: #ffffff;
    position: absolute;
    top: -15px;
    left: 5px;
    padding: 0 10px;
}

/* Checkout Page Ends */

/* - Login Register Page //---------------- */
.new-account .link {
    text-decoration: underline;
    color: #2f455d;
}

.new-account .link:hover {
    color: #1b75bb;
}
/* Login Register Page Ends */

/* - Account Page //---------------- */
.account-tab > .tab-title-bg {
    border-bottom: 1px solid #cad2d4;
    color: #2f455d;
    display: inline-block; 
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 13px;
    padding: 10px 15px; 
    width: 100%;
}

.account-tab > span .sub-title {
    font-size: 18px;
}

.account-sidebar .sub-title span {background: url("../images/sprite.png") no-repeat scroll -97px -456px; display: inline-block; height: 21px; margin-bottom: -5px; width: 21px;}
.account-sidebar.account-tab .account-tab-inner {padding:0px;}
.account-sidebar.account-tab > .tab-title-bg {padding: 4px 15px 12px 0;}
.account-sidebar ul{width: 100%;}
.account-sidebar ul li {
    background: #fff; 
    position: relative;
    margin-bottom: 1px;
}
.account-sidebar ul li:last-child{border-bottom: none;}
.account-sidebar ul li a {padding: 8px 15px; display: inline-block; width: 100%;}
.account-sidebar ul li a .fa{position: absolute; right: 15px; top: 12px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
.account-sidebar ul li a:hover{color: #26537f;}

.account-sidebar ul li.active a, .account-sidebar ul li:hover a{
    color: #fff; background: #1b75bb none repeat scroll 0 0
}
.account-sidebar ul li.active a .fa, .account-sidebar ul li:hover a .fa {
    color: #fff;
    right: 0px;
}
.account-sidebar ul li.active a::after, .account-sidebar ul li:hover a::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #1b75bb; 
    border-style: solid; 
    border-width: 20px 22px 20px 15px; 
    top: 0px; 
    content: ""; 
    right: -37px; 
    position: absolute;
}
.account-content { /* border: 1px solid #dbdbdb;  border-radius: 3px;*/ padding: 0px 30px;}
.account-content .heading-section{display: inline-block; width: 100%;}
.account-content .heading-section .heading{padding: 2px 0px;}
.account-content .heading-section .common-btn{margin-top: -4px;}

.account-content p, .address-box p {margin-bottom: 0px; margin-top: 5px;}
.account-content hr{margin-top: 5px;}

.address-box .inner-heading {
    margin-bottom: 10px;
}
/* - Account Page Ends //---------------- */

/* - Blog Page //---------------- */
.sidebar-box .search-box input.input-text {
    border: 1px solid #e8e8e8;
    width: 100% !important;
    opacity: 1;
    position: relative;
}
.sidebar-box .search-box button.search-btn {
    position: absolute;
    right: 0;
    top: 0;
}
/* - Blog Page Ends //---------------- */

/* - About Page //---------------- */
.about-title {
    color: #6b6b6b;
    font-size: 35px;
    font-weight: 300;
    line-height: 55px;
}

.partner-detail-main {
    height: 100%;
}

.partner-block  {
    display: inline-flex;
    overflow: hidden;
}

.partner-block ul {
    margin-bottom: -1px;
}

.partner-block ul li {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 16px;
}
.partner-block ul li:nth-child(3n) {
    border-right: none;
}

.partner-block ul li span {
    display: inline-block;
    padding: 23px 0;
    width: 100%;
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

.partner-block ul li span:hover {
  opacity: 0.8;
}

.partner-block ul li.owner-logo span {
    background: #ffffff;
    opacity: 1;
    filter: grayscale(100%);
}

.partner-block ul li.owner-logo span:hover {
    background-color: transparent;
    filter: grayscale(0%);
}

/* - About Page Ends //---------------- */

/* - 404 Page //---------------- */

.error-block {
    min-height: 965px;
    position: relative;
    overflow: hidden;
}
.error-block > img {
    height: auto;
    left: -100%;
    margin: auto;
    position: absolute;
    right: -100%;
    top: 0;
}
.error-block-detail {
    text-align: center;
}

.error-block-bg {
    
}

.error-block-detail .main-error {
    font-size: 230px;
    color: #2f455d;
    line-height: 180px;
    font-weight: 500;
    margin-bottom: 60px;
}
.error-small-text {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.error-slogan {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 30px;
}
.error-block-detail .social_icon {
    margin-bottom: 20px;
}
.big-btn a {
    display: inline-block;
    color: #2f455d;
    background: #dcbd71;
    padding: 20px 50px;
    font-size: 14px;
}
.big-btn a:hover {
    background: #fff;
}
/* - 404 Page Ends //---------------- */

/* Contact Page CSS Start */
.map .map-part .map-inner-part {
    min-height: 450px;
    width: 100%;
}

.contact-box .contact-icon {
    height: 27px;
    width: 27px;
    display: inline-block;
    background: url(../images/sprite.png) no-repeat scroll 0 0;
}
.contact-box span {
    display: inline-block;
    font-size: 18px;
    color: #2f455d;
    line-height: 1.1;
    margin-bottom: 20px;
    width: 100%;
}

.contact-box p {
    margin-bottom: 0;
}

.contact-box .contact-phone-icon {
    background-position: -101px -502px;
}
.contact-box .contact-mail-icon {
    background-position: -101px -543px;
}
.contact-box .contact-open-icon {
    background-position: -101px -583px;
}
.contact-info .no-padding {
    border-right: 1px solid #e1e1e1;
}
.contact-info .no-padding:last-child {
    border: none;
}
.read-more a {
    font-weight: 600;
}

.contact-address span {
    background: url(../images/sprite.png);
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.contact-address .location-icon {
    background-position: -101px -583px;
}

.contact-address .address-icon {
    background-position: -102px -503px;
}

.contact-address .mail-icon {
    background-position: -102px -543px;
}

.contact-info .read-more a {
    color: #1b75bb;
} 
.contact-info .read-more a:hover {
    color: #2f455d;
}

/* Contact Page CSS End */

/* Footer CSS Start */
.footer{
     padding-top: 30px;
}

.footer, .footer a, .footer p {
    color: #d8d8d8;
}

.footer a:hover {
    color: #1b75bb;
}

/* .footer-top {
    background: #333;
    padding: 32px 50px;
} */

.footer-top .f-logo {
    margin-right: 50px;
}

.footer-top p {
    color: #7c7c7c;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 240px;
}

ul.social-icon li {
    display: inline-block;
    margin-right: 5px;
}

ul.social-icon li i.fa {
    border: 1px solid transparent;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 22px;
    height: 33px;
    width: 33px;
    text-align: center;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.social-link ul.social-icon li i.fa {
    /* color: #a7a7a7; */
    font-size: 18px;
    height: 36px;
    width: 36px;
    padding: 8px;
}

ul.social-icon li i.fa.fa-facebook {
    background: #3b5998;
}

ul.social-icon li i.fa.fa-twitter {
    background: #1dcaff;
}

ul.social-icon li i.fa.fa-linkedin {
    background: #0077b5;
}

ul.social-icon li i.fa.fa-rss {
    background: #ff6600;
}

ul.social-icon li i.fa.fa-pinterest {
    background: #c8232c;
}

ul.social-icon li i.fa:hover {
    background: transparent;
    color: #fff;
    transform: perspective(1300px) rotateY(360deg);
    -webkit-transform: perspective(1300px) rotateY(360deg);
    -moz-transform: perspective(1300px) rotateY(360deg);
    -o-transform: perspective(1300px) rotateY(360deg);
}

ul.social-icon li i.fa.fa-facebook:hover {
    border: 1px solid #3b5998;
    color: #3b5998;
}

ul.social-icon li i.fa.fa-twitter:hover {
    border: 1px solid #1dcaff;
    color: #1dcaff;
}

ul.social-icon li i.fa.fa-linkedin:hover {
    border: 1px solid #0077b5;
    color: #0077b5;
}

ul.social-icon li i.fa.fa-rss:hover {
    border: 1px solid #ff6600;
    color: #ff6600;
}

ul.social-icon li i.fa.fa-pinterest:hover {
    border: 1px solid #c8232c;
    color: #c8232c;
}

.footer-middle {
    margin: 75px 0 10px 0;
    padding: 10px;
    background-color: #2e4579;
}

.footer-middle .f-logo {
    margin-bottom: 25px;
}

.main_title1 {
    display: inline-block;
    margin-bottom: 0;
}

.footer-static-block .title1 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 3px;
    text-transform:uppercase;
}

.footer-static-block ul.address-footer li:first-child {
    margin-bottom: 20px;
}

/* .footer hr {
    border-top: 1px solid #444;
} */

.footer-static-block li i.fa {
    float: left;
    font-size: 20px;
    color: #1b75bb;
    margin-top: 5px;
}

.footer-static-block li p {
    margin-bottom: 0px;
}

.footer-block-contant > p {
  max-width: 322px;
}

ul.tagcloud li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

ul.tagcloud li a {
    border: 1px solid #444444;
    display: inline-block;
    padding: 5px 10px;
}

.sidebar-block ul.tagcloud li a {
    border-color: #cad2d4;
}

ul.tagcloud li a:hover {
    border-color: #1b75bb;
}

.footer-static-block li a span {
    font-size: 9px;
    float: left;
    margin-top: -1px;
    margin-right: 9px;
    color: #505050;
}

.footer-static-block li a:hover span {
    color: #1b75bb;
}

.footer-static-block .field {
    margin-bottom: 5px;
}

.footer-static-block input, .footer-static-block textarea {
    background-color: transparent;
    border: 1px solid #444;
    width: 100% !important;
    padding: 5px;
}
.footer-bottom{
    /* background: #2e4479;
    margin-top: -10px; */
}

.footer-bottom .site-link li {
    display: inline-block;
}

.footer-bottom .site-link li a {
    padding: 0 12px;
}

.copy-right {
    margin-top: 3px;
    letter-spacing: 0;
    color:#1b75bb;
    padding: 0 0 0 10px ;
}

/* .payment {
    margin-top: 30px;
} */

.payment ul li {
    display: inline-block;
}

.payment ul li a {
    background: url(../images/sprite.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 30px;
    width: 48px;
}

.payment ul li.discover a {
    background-position: -6px -684px;
}

.payment ul li.visa a {
    background-position: -6px -725px;
}

.payment ul li.mastro a {
    background-position: -6px -767px;
}

.payment ul li.paypal a {
    background-position: -6px -805px;
}

.footer-inner > .footer-bottom {
    background-color: #ffffff;
    padding: 30px 0;
}
/* Footer CSS Start */

/* - Scroll-Top Arrow //---------------- */
.scroll-top {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 1;
}

.scroll-top #scrollup:before {
    color: #ffffff;
    content: "ï„†";
    font-family: "FontAwesome";
    font-size: 18px;
}

.scroll-top #scrollup {
    background: #1b75bb;
    padding: 8px 15px;
    display: none;
    cursor: pointer;
}
/* - Scroll-Top Arrow Ends //---------------- */