/* 
 * 	Responsive CSS File
 *	v1.0
 */

/* clearfix */

@media (min-width: 1350px) {
    .container {
        width: 1350px;
    }
}

@media (max-width: 1300px) {
    .main {
        border-left-width: 20px;
        border-right-width: 20px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1379px) {
    .container {
        width: 1200px;
        max-width: 100%;
        padding: 0 15px;
    }

    .sidebar-title h3 {
        font-size: 19px;
    }
}

@media (max-width: 1280px) {
    .nav > li.level:last-child .megamenu {
        right: 0;
    }
}

@media (min-width: 1200px) {

    .col-lg-20per {
        width: 20%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-80per {
        width: 80%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner {
        min-height: 347px;
    }

    .banner.inner-banner {
        min-height: 1px;
    }
}

@media (max-width: 1199px) {

    .column-20per {
        width: 30%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .column-80per {
        width: 70%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .container {
        padding: 0 15px;
        max-width: 100%;
    }

	/* Header */
    .header-right-part {
        padding: 0 170px 0 223px;
    }

    .category-dropdown select {
        width: 220px;
    }

	/* Column */
    .ser-feature-block {
        padding: 35px 10px;
    }

    .ser-feature-block .feature-box {
        padding-left: 75px;
    }

    .shop-list-view .detail-inner-left {
        border-left: none;
    }

    .shop-list-view .detail-inner-left .right-side {
        float: none;
    }

    .latestoffrweek {
        display: none;
    }

	
}

@media (min-width: 992px) {
    
    .col-md-20per {
        width: 20%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-80per {
        width: 80%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobile-sub-menu {
        display: inline !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	/* Header */

    /* .navbar-nav > li {
        padding: 0 22px;
    } */
	
	/* Content */	
	.newsletter {
		padding: 15px;
	}

	.newsletter-inner .main_title {
		font-size: 26px;
	}

    .cat-block .mlr_-25 {
        margin-left: -15px;
        margin-right: -15px;
    }

    .cat-block .plr-25 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cat-img span {
        font-size: 16px;
    }

    /* Blog */
    .blog-main .blog-contant {
        padding: 10px 0;
    }
    .blog-tag {
        margin-bottom: 6px;
    }
    .blog-main .blog-title a {
        font-size: 15px;
    }
    .blog-main .blog-detail .post-info {
        bottom: 20px;
        margin-top: 0;
    }

    /* main-banner */
    .banner-detail {
        top: 20%;
    }
    .banner-detail .banner-detail-inner .banner-title {
        font-size: 40px;
        /* font-weight: 400; */
        line-height: 40px;
    }

    .banner-detail .banner-detail-inner span.offer {
        font-size: 22px;
        padding: 15px 20px;
    }

    .banner-detail .banner-detail-inner span.slogan {
        font-size: 20px;
        /* margin-bottom: 0; */
    }
	
	/* Footer */
	
}

@media (min-width: 768px) {
    .col-sm-20per {
        width: 20%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-80per {
        width: 80%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	
	/* Content */
    .special-products-block .pro-detail-main .bottom-detail {
        bottom: -90px;
    }
    /* main-banner */
    .banner-detail .banner-detail-inner .banner-title {
      font-size: 30px;
      line-height: 30px;
    }
    .banner-detail .banner-detail-inner span.slogan {
      font-size: 18px;
      margin-bottom: 0;
    }
    .banner-detail .banner-detail-inner span.offer {
      font-size: 16px;
      padding: 10px 20px;
    }

    /* Sub-Banner */
    .sub-banner .sub-banner-detail .sub-banner-title {
        font-size: 16px;
    }
    .sub-banner .sub-banner-detail .sub-banner-type, .sub-banner .sub-banner-detail .sub-banner-subtitle {
       font-size: 12px;
       font-weight: 400;
    }
    .sub-banner.sub-banner1 .sub-banner-detail .sub-banner-title {
        font-size: 12px;
    }
    .big.sub-banner-title-color {
        font-size: 15px;
        display: inline-flex;
    }
    .big.sub-banner-title-color span {
      font-size: 15px;
      font-style: normal;
      margin: auto;
      text-align: left;
      width: 100%;
      font-style: italic;
    }
    .sub-banner .sub-banner-detail .sub-banner-type, .sub-banner .sub-banner-detail .sub-banner-subtitle {
        line-height: 14px;
    }
	
}
@media (max-width: 991px) {

    .center-sm {
        text-align: center;
    }

	.float-none-sm {
        float: none !important;
    }

    .float-left-sm {
        float: left !important;
    }

    .float-right-sm {
       float: right !important;
    }

    .ptb-sm-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .pt-sm-0 {
        padding-top: 0px;
    }

    .pb-sm-0 {
        padding-bottom: 0px;
    }

    .ptb-sm-15 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .pt-sm-15 {
        padding-top: 15px;
    }

    .pb-sm-15 {
        padding-bottom: 15px;
    }

    .ptb-sm-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pt-sm-30 {
        padding-top: 30px;
    }

    .pb-sm-30 {
        padding-bottom: 30px;
    }

    .ptb-sm-60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .pb-sm-60 {
        padding-bottom: 60px;
    }

    .pt-sm-60 {
        padding-top: 60px;
    }

    .ptb-95 {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .pt-95 {
        padding-top: 65px;
    }

    .pb-95 {
        padding-bottom: 65px;
    }

    .mtb-sm-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mt-sm-30 {
        margin-top: 30px;
    }

    .mb-sm-30 {
        margin-bottom: 30px;
    }

    .mtb-sm-15 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .mt-sm-15 {
        margin-top: 15px;
    }

    .mb-sm-15 {
        margin-bottom: 15px;
    }

    .main {
        border-right: 15px solid #ffffff;
        border-left: 15px solid #ffffff;
    }

    a:hover, .footer a:hover {
        color: #717a7d;
    }

	/* Header */

    header#header {
        position: static;
    }

    .navbar-brand > img {
        height: 42px;
    }

    .nav.navbar-nav.navbar-left {
        width: 100%;
        margin: 0;
    }

    .navbar-nav > li {
        padding: 0;
    }

    .navbar-nav > li > a {
        color: #fff;
        padding: 8px 18px;
        font-size: 14px;
        font-weight: 400;
    }

        .navbar-nav > li:hover > a {
            color: #fff;
        }

    .navbar-toggle {
        display: block;
    }

    .header-right-part {
        margin: 0 0 24px;
    }

    .navbar-collapse {
        background: none repeat scroll 0 0 #2f455d;
        bottom: 0;
        border-bottom: 0;
        display: inline-block !important;
        height: 100% !important;
        left: -250px;
        position: fixed !important;
        top: 0 !important;
        margin: 0 !important;
        transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0 1px rgba(0, 0, 0, 0.2);
        width: 250px;
        z-index: 3;
    }

    .navbar-collapse.menu-open {
        left: 0;
    }

    .navbar-collapse.in {
        display: block !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .header-inner .navbar-collapse, .header-inner .navbar-collapse ul {
        width: 100%;
    }

    .navbar-nav > li > a {
        border-bottom: 0;
    }

    .search-box button.search-btn:hover {
        background-color: #ffe547;
        background-position: -3px -83px;
    }

    .header-right-part .cart-icon:hover > a span {
        background-position: -70px -633px;
    }

    .header-middle {
        padding: 0;
    }

    .header-right-part .cart-icon {
        padding: 0 0 25px;
    }
	
	/* Menu */

    .navbar-collapse {
        padding: 15px 15px 0 0px;
    }

    .megamenu .level2 > a {
        position: relative;
        margin-bottom: 2px;
    }

    .megamenu .level2 > a:before {
        content: "ïƒš";
        font-family: FontAwesome;
        position: absolute;
        left: -11px;
    }
    
    .nav > li:hover {
        overflow: hidden;
    }

    .megamenu {
        background-color: transparent;
        border-top: none;
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        padding: 0px 30px;
        transition: none 0s ease 0s;
        -moz-transition: none 0s ease 0s;
        -webkit-transition: none 0s ease 0s;
        -o-transition: none 0s ease 0s;
    }

    .megamenu .sub-menu-level1 li.level2 {
        float: none;
        margin-bottom: 15px;
    }

    .megamenu .megamenu-inner-top .level2 {
        margin-bottom: 15px;
    }

    .megamenu {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }

    .megamenu .level2 > a {
        color: #00ad73;
    }

    .megamenu .sub-menu-level2 li.level3 > a, .megamenu .sub-menu-level2 li.level3 > a:hover {
        color: #adabab;
    }

	
	/* content */

    .inner-banner {
        margin-top: 0;
    }

    .main-banner.owl-carousel {
        padding-top: 0;
    }

    .main-banner .owl-buttons {
        display: none;
    }

    .banner-detail {
        top: 15%;
    }

   /*  .sub-banner {
      display: inline-block;
   } */

        .sub-banner:hover {
            box-shadow: none;
        }

    .sub-banner-block .sub-banner:hover img {
        transform: none;
    }

    .sub-banner a:hover {
        color: #fff;
    }

    /* .sub-banner .sub-banner-detail .sub-banner-title {
       font-size: 25px;
    } */

    .sub-banner.sub-banner3 .sub-banner-detail .sub-banner-type {
        margin-top: 10px;
    }

    /* .sub-banner .sub-banner-detail span {
        margin: 20px 0 15px;
    } */

    .special-products-block .pro-detail-main {
        min-height: 1px !important;
    }

	.newsletter {
		background-size: cover;
	}

	.newsletter-inner p {
		margin-bottom: 15px;
	}

	.newsletter-inner span {
		margin-bottom: 20px;
	}

	.header-inner button i.fa {
		font-size: 24px;
	}

    .header-inner {
        width: 100%;
        position: relative;
        display: inline-block;
    }

    .navbar-header {
        width: 100%;
    }

    .header-right-link {
        position: absolute;
        right: 55px;
        top: 0;
    }

    .navbar-toggle {
        color: #fff;
        margin-top: 20px;
        margin-right: -12px;
        height: 45px;
        width: 45px;
    }

    /* .navbar-toggle:hover {
        color: #b9a06f;
    } */

    .error-block-bg {
        background: none;
    }

    .owl-carousel {
        overflow: hidden;
        padding-top: 7px;
    }

    .client-main .owl-carousel {
        padding-top: 20px;
        margin-top: -20px;
    }

    #brand-logo .owl-prev {
        left: 0;
    }

    #brand-logo .owl-next {
        right: 0;
    }

    .brand {
        padding: 0 50px;
    }

/*     .owl-carousel .owl-wrapper-outer {
    padding: 7px 35px 0;
} */

    .product-item:hover .product-item-details {
        margin-top: 5px;
    }

    .product-item .product-detail-inner {
        position: relative;
        bottom: auto !important;
    }

    .product-item:hover .product-item-details {
        top: 0;
    }

    .product-item .detail-inner-left ul li a, .product-item .detail-inner-left ul li button span {
        transform: perspective(1300px) rotateY(0deg);
        -webkit-transform: perspective(1300px) rotateY(0deg);
        -moz-transform: perspective(1300px) rotateY(0deg);
        -o-transform: perspective(1300px) rotateY(0deg);
    }

    .product-item .product-image img {
        -ms-transform: scale(1) !important;
        -webkit-transform: scale(1) !important;
        transform: scale(1) !important;
    }

    /* .product-item .detail-inner-left ul li {
        padding: 0 10px;
    } */

    .ser-feature-block {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .ser-feature-block .feature-box {
        display: inline-block;
        text-align: left;
        border-right: none;
        border-bottom: 1px solid #868982;
        padding-bottom: 10px;
        margin-top: 12px;
    }

    .product-slider .owl-prev, .product-slider .owl-next {
        /* height: 50px;
        width: 35px;
        padding: 0 10px; */
        opacity: 1;
    }

    .product-slider .owl-prev::after, .product-slider .owl-next::after {
        font-size: 23px;
        line-height: 22px;
    }

    .product-slider .owl-prev {
        left: 0px;
    }

    .product-slider .owl-next {
        right: 0px;
    }

   /*  .cat-img {
       display: inline-block;
   } */

        .cat-img:hover img, .cat-box-inner li:hover .pro-media img {
            transform: none;
        }

        .cat-img:hover span {
            transform: translateX(-50%);
        }

    .show-item {
        width: 100%;
        margin-top: 20px;
    }

    .sidebar-title h3 {
        font-size: 20px;
    }

    .about-title {
        font-size: 25px;
        line-height: 45px;
    }
    
    .footer-top {
        display: inline-block;
    }

    .ser-feature-block {
        margin-bottom: 20px;
        padding: 5px 20px;
    }

    .ser-feature-block .feature-box {
        border-bottom: none;
    }

    /* .footer_social {
        border-top: 1px solid #434343;
    }
     */
    .footer-static-block {
        position: relative;
        margin-bottom: 10px;
        border-bottom: 1px solid #cad2d4;
    }

    .footer-static-block .title {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .footer-static-block .footer-block-contant {
        display:none;
        margin-bottom: 20px;
    }

    .footer .f-col:last-child .footer-static-block {border-bottom:none;}
    .footer-static-block span.opener { 
        background:url(../images/sprite.png) no-repeat scroll 0 0; 
        height: 30px; 
        width: 30px; 
        display: inline-block; 
        position: absolute; 
        right: 0; 
        top: 3px;
        cursor:pointer;
    }
    .footer-static-block span.plus {background-position: -92px -375px;}
    .footer-static-block span.minus {background-position: -92px -413px;}
    
    #menu .level {
        position: relative;
    }

    #menu .mobile-sub-menu {display:none;}
    /* .footer .f-col ul li:last-child {border-bottom:none;} */
    #menu span.opener {
        background:url(../images/sprite.png) no-repeat scroll 0 0; 
        height: 25px; 
        width: 25px; 
        display: inline-block; 
        position: absolute; 
        right: 0;
        top: 6px;
        cursor:pointer;
        z-index: 1;
    }
    #menu span.plus {background-position: -124px -378px;}
    #menu span.minus {background-position: -124px -416px;}

    /* .footer_social ul li i.fa:hover {
    background-color: transparent !important;
} */
    
    .footer_social ul li i.fa {
        height: 35px;
        width: 35px;
        padding: 6px;
    }

    .opener.plus.f-plus, .minus {
        top: 14px;
    }

    .footer-block-contant > p {
      max-width: 100%;
    }

    /* Social Icons */
    ul.social-icon li i.fa:hover {
        transform: none;
        border: 0;
        color: #fff !important;
    }

    ul.social-icon li i.fa.fa-facebook:hover {
        background: #3b5998;
    }

    ul.social-icon li i.fa.fa-twitter:hover {
        background: #1dcaff;
    }

    ul.social-icon li i.fa.fa-linkedin:hover {
        background: #0077b5; 
    }

    ul.social-icon li i.fa.fa-rss:hover {
        background: #ff6600;
    }

    ul.social-icon li i.fa.fa-pinterest:hover {
        background: #c8232c;
    }

    .footer-middle {
        margin: 30px 0 0;
    }
	
	/* Footer */

    /* Blog  */
    .blog-media {
        background: transparent;
    }
    .blog-item:hover .blog-media img {
        transform: none;
        opacity: 1;
    }

    /* Ser-Feature Block */
    .ser-feature-block {
        margin-bottom: 20px;
        padding: 5px 15px;
    }

    .ser-feature-block .feature-box {
        border-bottom: none;
    }

    .ser-feature-block .feature-box .ser-title {
        font-size: 16px;
    }

    .ser-feature-block:hover .feature-box .ser-title {
        color: #2f455d;
    }

    .ser-feature-block .feature-box .ser-subtitle{
        line-height: 18px;
    }

    .ser-feature-block .feature-box.feature1, .ser-feature-block:hover .feature-box.feature1 {
        background-position: 5px 14px;
    }

    .ser-feature-block .feature-box.feature2, .ser-feature-block:hover .feature-box.feature2 {
        background-position: 5px -111px;
    }

    .ser-feature-block .feature-box.feature3, .ser-feature-block:hover .feature-box.feature3 {
        background-position: 5px -240px;
    }
    
    /* client-main */
    .client-main .owl-prev, .client-main .owl-next {
        bottom: 15%;
    }
	
}
@media (max-width: 767px) {	

    .column-20per {
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .column-80per {
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .center-xs {
        text-align: center;
    }

	.float-none-xs {
        float: none !important;
    }

    .float-left-xs {
        float: left !important;
    }

    .float-right-xs {
        float: right !important;
    }

    .ptb-95 {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .pt-95 {
        padding-top: 35px;
    }

    .pb-95 {
        padding-bottom: 35px;
    }

    .mtb-40 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mt-40 {
        margin-top: 30px;
    }

    .mb-40 {
        margin-bottom: 30px;
    }


    .ptb-xs-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .pt-xs-0 {
        padding-top: 0px;
    }

    .pb-xs-0 {
        padding-bottom: 0px;
    }

    .ptb-xs-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pt-xs-30 {
        padding-top: 30px;
    }

    .pb-xs-30 {
        padding-bottom: 30px;
    }

    .ptb-xs-60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .pb-xs-60 {
        padding-bottom: 60px;
    }

    .pt-xs-60 {
        padding-top: 60px;
    }

    .mtb-xs-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mt-xs-30 {
        margin-top: 30px;
    }

    .mb-xs-30 {
        margin-bottom: 30px;
    }

    .mtb-xs-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .mt-xs-0 {
        margin-top: 0px;
    }

    .mb-xs-0 {
        margin-bottom: 0px;
    }
	
	/* Header */
    .header-right-part {
        padding: 0 0 0 223px;
    }

    .header-right-part .cart-text {
        display: none;
    }

    .header-right-part .cart-icon {
        right: 28px;
        top: -67px;
    }

    .header-right-part .cart-icon > a span {
        background-position: -70px -686px !important;
        margin-right: 0;
    }

    .header-link-dropdown {
        top: 97%;
    }

	/* Content */
    .inner-banner .banner-detail h1 {
        font-size: 30px;
    }

    .banner-detail .banner-detail-inner span.offer {
        display: none;
    }

    h2.main_title {
        font-size: 20px;
        letter-spacing: -0.8px;
    }

    .banner-detail .banner-detail-inner .banner-title {
        font-size: 28px;
        line-height: 28px;
    }

    /* .banner-detail .banner-detail-inner span.offer {
        font-size: 14px;
        padding: 5px 20px;
        margin-top: 0;
        letter-spacing: 1px;
    } */

    .banner-detail .banner-detail-inner span.slogan {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .sub-banner {
        display: inline-block;
        max-width: 100%;
        margin: 20px auto 0;
    }

    .sub-banner .sub-banner-detail {
        text-align: left;
    }

    .sub-banner .sub-banner-detail .sub-banner-title {
        line-height: 30px;
    }

    .big.sub-banner-title-color {
        font-size: 18px;
        display: inline-flex;
    }
    .big.sub-banner-title-color span {
      font-size: 18px;
      font-style: normal;
      margin: auto;
      text-align: left;
      width: 100%;
      font-style: italic;
    }

    .blog-main .blog-detail {
        position: relative;
    }

    .blog-main .blog-detail .post-info {
        position: relative;
        bottom: auto;
    }

    .blog-item {
        max-width: 420px;
        margin: 0 auto 30px;
    }

    .blog-main .blog-contant {
        padding: 15px 0;
        margin-left: 0;
    }

    .blog-tag {
        display: inline-block;
    }

    .blog-main .blog-detail .blog-detail-inner {
        background-color: transparent;
        color: #7c7c7c;
    }

    .blog-main .blog-title a, .blog-main .blog-detail .post-info ul li a {
        color: #7c7c7c;
    }

    .special-products-block {
        text-align: center;
    }

    .special-products-block .product-image {
        /* display: inline-block; */
        float: none;
    }

    .special-products-block .pro-detail-main {
        min-height: 0px !important;
        margin-left: 0;
        margin-top: 30px;
        text-align: left;
    }

    .special-products-block .pro-detail-main .bottom-detail {
        position: relative;
        margin-top: 20px;
    }

    .special-products-block .product-item {
        float: none;
    }

    .shop-list-view .bottom-detail ul li {
        padding: 0 10px;
    }

    .shop-list-view .bottom-detail ul li:first-child {
        padding: 0;
    }

    .shop-list-view .bottom-detail ul li:last-child {
        padding-right: 0;
    }

    .shop-list-view .bottom-detail ul li > a {
        font-size: 0;
    }

    .shop-list-view .bottom-detail ul li > a span {
        margin-right: 0;
    }

    .partner-block ul li {
        width: 50%;
    }

    .partner-block ul li:nth-child(3n) {
        border-right: 1px solid #e8e8e8;
    }

    .partner-block ul {
        margin-right: -1px;
    }

    .checkout-step ul {
        display: inline-block;
    }

    .checkout-step ul li {
        float: none;
        margin-bottom: 15px;
    }

    .checkout-step ul li .step .line {
        display: none;
    }

    .checkout-step ul li {
        text-align: left;
    }

    .checkout-step ul li a {
        padding-left: 40px;
    }

    .checkout-step ul li .step .circle {
         transform: translateX(0%);
    }

    .checkout-step ul li span {
        display: inline-block;
    }

    .account-content {
        padding: 0;
    }

    .table-responsive {
        display: inline-block;
    }

    .account-sidebar ul li.active a::after, .account-sidebar ul li:hover a::after {
        border-width: 0px;
    }

    .account-sidebar ul li.active a .fa, .account-sidebar ul li:hover a .fa {
        right: 15px;
    }

    .error-block-detail .main-error-text {
        font-size: 220px;
        line-height: 180px;
    }

    .contact-info .p-0 {
        border-right: none;
        margin-bottom: 30px;
    }

    .contact-box span {
        margin-bottom: 10px;
    }

    .sidebar-box.gray-box {
        padding-bottom: 0;
    }

    .sidebar-box.gray-box .sidebar-contant {
        padding-top: 25px;
    }

    .sidebar-box {
        margin-bottom: 15px;
    }

    .sidebar-block .sidebar-box {
        position: relative;
    }

    .sidebar-box .sidebar-contant {
        display: none;
    }

    .sidebar-box span.opener { 
        background:url(../images/sprite.png) no-repeat scroll 0 0; 
        height: 30px; 
        width: 30px; 
        display: inline-block; 
        position: absolute; 
        right: 0; 
        cursor:pointer;
    }
    .sidebar-box span.plus {background-position: -92px -375px;}
    .sidebar-box span.minus {background-position: -92px -413px;}

    .sidebar-box span.opener {
        top: 10px;
    }

    .cat-img {
        display: block;
    }

    .footer-top .f-logo {
        margin-left: 20px;
    }

    .footer-top p {
        margin-left: 212px;
    }

    .copy-right {
        padding: 15px 0;
    }

    .contact-info .mt-20 {
        margin-top: 10px;
    }
    
    /* inner-banner */
    .inner-banner {
        padding: 60px 0;
    }
    .inner-banner .bread-crumb {
      margin-top: 0;
    }

    /* ser-feature-block */
    .ser-feature-block {
        padding: 10px 20px;
    }

    .ser-feature-block .feature-box .ser-title {
        font-size: 20px;
    }

    .ser-feature-block .feature-box .ser-subtitle {
        line-height: 24px;
    }

    .ser-feature-block .feature-box.feature1, .ser-feature-block:hover .feature-box.feature1 {
        background-position: 5px 7px;
    }

    .ser-feature-block .feature-box.feature2, .ser-feature-block:hover .feature-box.feature2 {
        background-position: 5px -118px;
    }
    .ser-feature-block .feature-box.feature3, .ser-feature-block:hover .feature-box.feature3 {
        background-position: 5px -246px;
    }
	
}
@media (max-width: 600px) {
	/* Header */

    .header-top {
        padding: 8px 0;
    }

    .header-right-link {
        right: 30px;
    }

    .search-box {
        display: inline-block;
        width: 100%;
    }

    .inner-banner .banner-detail h1 {
        font-size: 25px;
    }

    .cat-block .mlr_-25 {
        margin-left: -10px;
        margin-right: -10px;
    }

    .cat-block .plr-25 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cat-img span {
        width: calc(100% - 30px);
    }

    /* .header_search_toggle.desktop-view {
        display: none !important;
    }

    .header_search_toggle.mobile-view {
        display: block;
        margin-bottom: 20px;
    }

    .mobile-view .search-box input.input-text {
        position: relative;
        right: auto;
        width: 100%;
        opacity: 1;
    }

    .mobile-view .search-box button.search-btn {
        position: absolute;
    } */

    .top-link ul li {
        display: inline-flex;
        border-right: 1px solid #ddd;
    }
    .top-link ul li:last-child {
        border-right: none;
    }

    .top-link ul li a {
        background: url(../images/sprite.png) no-repeat scroll 0 0;
        border: none;
        display: inline-block;
        height: 20px;
        width: 20px;
        font-size: 0;
        padding: 0px;
        margin: 0 10px;
    }

    .top-link ul li:first-child a {
        margin-left: 0;
    }

    .top-link ul li:last-child a {
        margin-right: 0;
    }

    .top-link ul li.contact-icon a {
        background-position: -60px -15px;
    }
    .top-link ul li.sitemap-icon a {
        background-position: -61px -52px;
    }
    .top-link ul li.login-icon a {
        background-position: -61px -90px;
    }
    .top-link ul li.account-icon a {
        background-position: -61px -128px;
    }
    .top-link ul li.wishlist-icon a {
        background-position: -61px -165px;
    }
    .top-link ul li.checkout-icon a {
        background-position: -61px -205px;
    }

    .header-right-part {
        padding: 0 0 0 54px;
    }

    .category-dropdown select {
        background-position: 72% 50% !important;
        width: 50px;
        padding: 7px 24px 7px 25px;
    }

    .product-listing .shop-list-view .product-item {
        float: none;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .shop-list-view .product-item-details {
        display: inline-block;
    }

    .product-item .detail-inner-left ul li:last-child {
        padding-right: 0 !important;
    }

    .error-block-detail .main-error-text {
        font-size: 150px;
        line-height: 120px;
        margin-bottom: 40px;
    }

    .paypal-box {
        display: none;
    }

    .payment-top-box {
        margin-bottom: 0;
    }

    .footer-top .f-logo {
        float: none;
        text-align: center;
    }

    .footer-top p {
        margin-left: 0px;
        margin-top: 20px;
    }

    /* shop-list-view */
    .shop-list-view .product-item-details {
        padding: 0;
    }

    /* main-banner */
    .banner-detail .banner-detail-inner .banner-title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 5px;
    }
    .banner-detail .banner-detail-inner span.slogan {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 16px;
    }

    /* Sub-Banner */
    .sub-banner .sub-banner-detail .sub-banner-title {
      font-size: 20px !important;
      line-height: 25px;
    }

}

@media (max-width: 500px) {

    .product-detail-tab .nav-tabs > li {
        float: none;
    }

    .product-detail-tab .nav > li > a {
        padding: 7px 15px 7px 0px;
    }

    .ser-feature-block {
        text-align: left;
    }

    .ser-feature-block .feature-box .ser-title {
        padding: 13px 0;
    }

    .ser-feature-block .feature-box .ser-subtitle {
        display: none;
    }

    .nl-popup-main {
        padding: 10px;
    }

    #newslater-popup .mfp-close {
        top: 0;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .nl-popup-title {
        font-size: 35px;
    }

    .nl-popup-main .sub-text {
        font-size: 16px;
    }

    /* Sub-Banner */
    .sub-banner .sub-banner-detail .sub-banner-title {
        font-size: 16px !important;
        line-height: 20px;
    }

    .sub-banner .sub-banner-detail .sub-banner-type, .sub-banner .sub-banner-detail .sub-banner-subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .detail-inner-left ul li button span {
        width: 26px;
    }

    .detail-inner-left ul li a {
        width: 25px;
    }

    .client-main {
        padding: 0;
    }
    .contact-info .read-more {
        margin-bottom: 10px;
        margin-top: 0;
    }
    .contact-info .col-xs-6 {
      text-align: center;
      width: 100%;
    }
    .inner-banner {
      padding: 40px 0;
    }

    /* client-main */
    .client-main .owl-prev, .client-main .owl-next {
        bottom: 14%;
    }
    /* Sub-Banner */
    .banner-detail .banner-detail-inner span.slogan {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 14px;
    }
    .banner-detail .banner-detail-inner .banner-title {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .main-banner .owl-controls .owl-pagination {
        bottom: 8px;
    }

}


@media (max-width: 419px) {
    
    .product-listing .col-xs-6, .featured-product .col-xs-6 {
        width: 100%;
    }

	/* Header */
    .navbar-brand > img {
        height: 40px;
    }

    .header-right-link > ul > li:hover {
        position: static;
    }

    .header-right-part .cart-icon {
        top: -67px;
    }

    .header-link-dropdown {
        right: 50%;
        transform: translateX(28%);
        -ms-transform: translateX(28%);
        -webkit-transform: translateX(28%);
        -o-transform: translateX(28%);
    }

   /*  big.sub-banner-title-color {
       font-size: 50px;
   }
    */
    .banner-detail {
        top: 30%;
    }

    .banner-detail .banner-detail-inner .banner-title {
        font-size: 16px;
        line-height: 18px;
    }

    /* .banner-detail .banner-detail-inner span.offer {
        font-size: 10px;
        padding: 2px 20px;
        margin-top: 0;
        letter-spacing: 1px;
    } */

    .banner-detail .banner-detail-inner span.slogan {
       display: none;
       /*  margin-bottom: 10px; */
    }

    /* Sub-Banner */
    .sub-banner .sub-banner-detail .sub-banner-title {
        font-size: 14px !important;
        line-height: 16px;
    }

    .sub-banner .sub-banner-detail .sub-banner-type, .sub-banner .sub-banner-detail .sub-banner-subtitle {
        font-size: 12px;
        line-height: 18px;
    }

    .sub-banner.sub-banner3 .sub-banner-detail {
        left: 20px;
    }

    .sub-banner.sub-banner1 .sub-banner-detail {
        right: 15px;
    }

    .ser-feature-block .feature-box .ser-subtitle {
        font-size: 12px;
        letter-spacing: 0;
    }

    .newsletter-inner .main_title {
        font-size: 22px;
    }

    .cat-block .col-xs-6 {
        width: 100%;
    }

    .cat-box {
        text-align: center;
        margin-bottom: 30px;
    }

    .cat-img {
       /*  display: inline-block; */
        margin: 0 auto;
    }

    .error-block-detail .main-error-text {
        font-size: 120px;
    }

    .error-small-text {
        font-size: 30px;
    }

    .error-slogan {
        font-size: 22px;
    }

    .short-by, .select-item, .compare {
        display: inline-block;
        float: none;
    }

    .short-by > span, .show-item > span {
        display: none;
    }

    .tab_content {
        padding: 10px;
    }

    .Description, .items-Product-Tags, .items-Reviews, .comments-area-main {
        padding: 15px;
    }

    /* Product Page */
    .bottom-detail.cart-button {
        font-size: 14px !important;
    }

    .product-detail-main .product-item-details .bottom-detail {
      display: inline-block;
      font-size: 0;
    }
    .inner-banner {
      padding: 20px 0;
    }

     /* client-main */
    .client-main .owl-buttons {
        display: none;
    }

     /* brand-logo */
    .brand {
        padding: 0 20px;
    }
}

@media (max-width: 379px) {
    /* .banner-detail {
        line-height: 14px;
    }
    .banner-detail .banner-detail-inner span.offer {
        padding: 4px;
    } */
    .main {
        border-right: 0 solid #ffffff;
        border-left: 0 solid #ffffff;
    }
}